regex~=2022.0
aiohttp~=3.0
beautifulsoup4~=4.0
lavalink~=3.0
pathvalidate~=2.0
pymorphy2~=0.9.0
GitPython~=3.0
git+https://github.com/Sovamorco/common#egg=common[async]
git+https://github.com/Rapptz/discord.py#egg=discord.py[voice]