regex==2022.4.24
aiohttp==3.8.1
beautifulsoup4==4.11.1
lavalink==3.1.5
pathvalidate==2.5.0
pymorphy2==0.9.1
GitPython==3.1.27
git+https://github.com/Sovamorco/common
git+https://github.com/Rapptz/discord.py#egg=discord.py[voice]